---
layout: 'base.njk'
---

<article class="main-article">
<div class="container container--narrow flow">
    <h1 class="article-title">
      {{ title }}
    </h1> 
        <p>{{ date | postDate}}</p>
    <figure class="main-article__figure">
      <img src="{{ image }}" alt="{{ imageAlt }}">
    </figure>
    
    {{ content | safe }}
   
</div>
</article>
<div class="comment-section">
{# Unless we have disabled comments for this page, add a comments form #}
{% if commentsClosed != true %}
{% include "comment-form.njk" -%}
{% else %}
  <div class="footnote">
    <p>
      comments on this page are now closed. Perhaps express your opinions about this <a href="https://twitter.com/intent/tweet?text=I%20need%20to%20tell%20the%20world%20about%20this!&url={{ init.rootURL }}{{ page.url }}">on twitter</a> instead?
    </p>
  </div>
{% endif %}

<div class="comments">
{# Add the any comments we have stashed for this page #}
{% include "comments.njk" -%}
</div>
