<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Projects — Allison Writes Code</title>
  <link rel="stylesheet" href="assets/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo"><a class="nav-logo" href="index.html">Allison Writes Code</a></div>
        <ul class="nav-links">
        <li><a href="blog.html">Blog</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="https://github.com/alli94" target="_blank" rel="noopener noreferrer" class="fa-icon github"><i class="fab fa-github"></i></a></li>
        <!--<li><a href="https://www.linkedin.com/in/allisonrm/" target="_blank" rel="noopener noreferrer"class="fa-icon linkedin"><i class="fab fa-linkedin-in"></i></a></li>-->
        <li><a href="https://instagram.com/allisontravelshere" target="_blank" rel="noopener noreferrer" class="fa-icon instagram">
            <i class="fab fa-instagram"></i>
          </a></li>
        </ul>
    </nav>

  <main class="content">
    <h1>Current Projects</h1>
    <p>COMMING SOON</p>
    <div class="lets-connect">
    <h3>Let's Connect!</h3>
    <ul class="connect">
    <li><a href="https://github.com/alli94" target="_blank" rel="noopener noreferrer" class="fa-icon github"><i class="fab fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/allisonrm/" target="_blank" rel="noopener noreferrer"class="fa-icon linkedin"><i class="fab fa-linkedin-in"></i></a></li>
    <li><a href="https://instagram.com/allisontravelshere" target="_blank" rel="noopener noreferrer" class="fa-icon instagram">
        <i class="fab fa-instagram"></i>
      </a></li>
    </ul>
</div>
  </main>

   <!-- -->

   <footer>
    © 2025 Allison Writes Code — All thoughts, bugs & breakthroughs are my own.
  </footer>
</body>
</html>