
    <header> 
  <nav class="navbar">
    <div class="nav-logo">
      <a href="/index.html">
        <span>Allison Writes Code</span>
        <img class="logo" src="/assets/images/logo1.png" alt="Logo">
      </a>
    </div>

    <ul class="nav-links">
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/about/">About</a></li>
      <li>
        <a href="https://github.com/alli94" target="_blank" rel="noopener noreferrer" class="fa-icon github">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <!--
      <li>
        <a href="https://www.linkedin.com/in/allisonrm/" target="_blank" rel="noopener noreferrer" class="fa-icon linkedin">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      -->
      <li>
        <a href="https://instagram.com/allisontravelshere" target="_blank" rel="noopener noreferrer" class="fa-icon instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>