---
title: Allison Writes Code
layout: 'base.njk'
---
<section class="intro-section">
  <div class="intro-text">
    <h1>Tech Diary of a Self-Taught Language Learner and Coder</h1>
    <p>
      Writing about my current coding projects, language learning goals, and occasional passionate rants about urban development.
    </p>
  </div>

    <div class="polaroid">
    <div class="intro-photo">
      <img src="assets/images/market-profile.png" alt="Smiling at the camera" class="image" />
      <img src="assets/images/ocean-profile.png" alt="Looking for Fuji" class="imagehover" />
      <p class="caption image">Cheesing at Gwangjang Market in Seoul</p>
      <p class="caption imagehover">Looking for Mt. Fuji</p>
    </div>
  </div>
</section>
