---
title: Allison Writes Code
layout: 'base.njk'
---

    <section class="intro-section">
        <div class="intro-text">
          <h1>tech diary of a self-taught language learner and coder</h1>
          <p>
            Writing about my current coding projects, language learning goals, and occasional passionate rants about urban development. 
          </p>
        </div>
        <div class="intro-photo">
            <div class="polaroid">
          <img src="assets/images/market-profile.png" alt="smiling at the camera" />
          <p class="caption">Cheesing at Gwangjang Market in Seoul</p>
        </div>
          
        </div>
      </section>